<div class="sidebar">
    <% if (locals.pageType) { %>
        <% if(pageType === "japan") { %>
          <h3> from <%= pageType %></h3>
          <ul>
            <% animalList.filter(list => list.country ==="japan").forEach( list => {  %>
                <li><a href="/japanese-animals?id=<%= list.id %>"><%= list.name %></a></li>
            <% });  %>
          </ul>
        <%} else if (pageType === "iran") {%>
          <h3> from <%= pageType.toUpperCase() %></h3>
          <ul>
        <% animalList.filter(list => list.country ==="iran").forEach( list => {  %>
            <li><a href="/persian-animals?id=<%= list.id %>"><%= list.name %></a></li>
        <% });  %>
        </ul>
        <% }else if(pageType === "china") { %>
          <h3> from <%= pageType.toUpperCase() %></h3>
          <ul>
            <% animalList.filter(list => list.country ==="china").forEach( list => {  %>
                <li><a href="/chinese-animals?id=<%= list.id %>"><%= list.name %></a></li>
            <% });  %>
          </ul>
        <%} else { %>
          <h3> from Asia</h3>
          <ul>
            <% ["iran", "china", "japan"].forEach(country => { %>
              <% animalList
                   .filter(animal => animal.country === country)
                   .forEach(list => { %>
                <li>
                  <a href="/?id=<%= list.id %>"><%= list.name %></a>
                </li>
              <% }) %>
            <% }) %>
          </ul>
        <%} %>
    <%}%>
  </div>