<%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main class="main">
      <%- include('../partials/sidebar') %>
      <div>
        <a href="/persian-animals">Back</a>
          
        <% if (selectedAnimal) { %>
        
          <h1><%= selectedAnimal.name %></h1>
          <img
            src="/images/<%= selectedAnimal.image %>"
            alt="<%= selectedAnimal.name %>"
            width="300"
          />
          <p><strong>Type:</strong> <%= selectedAnimal.type %></p>
          <p><strong>Size:</strong> <%= selectedAnimal.size %></p>
          <p><strong>Weight:</strong> <%= selectedAnimal.weight %></p>
          <p><strong>Food:</strong> <%= selectedAnimal.food %></p>
          <p><strong>Description:</strong> <%= selectedAnimal.description %></p>
        
        <%} else { %>
          <p>please select</p>
        <% } %>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
