<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main class="main">
      <%- include('../partials/sidebar') %>
      <% if (!selectedAnimal) { %>
      <section class="welcome">
        <h1>Asian Zoo Exhibition</h1>
        <p><%= welcomeMessage %></p>
      </section>

      <% } %> 
      <% if (selectedAnimal) { %>
      <section class="animal__content">
        <h1><%= selectedAnimal.name %></h1>

        <img
          src="/images/<%= selectedAnimal.image %>"
          alt="<%= selectedAnimal.name %>"
          width="300"
        />

        <p><strong>Type:</strong> <%= selectedAnimal.type %></p>
        <p><strong>Country:</strong> <%= selectedAnimal.country %></p>
        <p><strong>Size:</strong> <%= selectedAnimal.size %></p>
        <p><strong>Weight:</strong> <%= selectedAnimal.weight %></p>
        <p><strong>Food:</strong> <%= selectedAnimal.food %></p>
        <p><strong>Description:</strong> <%= selectedAnimal.description %></p>

      </section>
      <% } %>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
