<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <!-- hero -->
    <%- include('../partials/hero') %>

    <main class="main">
      <%- include('../partials/sidebar') %>
      
        <div id="welcome-view" class="home-intro-container">
          <div class="home-text">
        <h1>Where Asian wildlife meets culture and tradition</h1>
        <p>
          <%= typeof welcomeMessage !== 'undefined' ? welcomeMessage : 'Welcome to the Zoo!' %>
        </p>
        </div>

        <div class="home-image">
          <img src="/images/home-intro.jpeg" alt="Zoo Interaction">
        </div>
      </div>

      <div id="details-view" class="animal-details-card hidden">
          <h1 id="det-name">Animal Name</h1>
          <p><strong>Type:</strong> 
            <span id="det-type"></span>
          </p>
          <p><strong>Size:</strong> 
            <span id="det-size"></span>
          </p>
          <p><strong>Weight:</strong> 
            <span id="det-weight"></span>
          </p>
          <p><strong>Food:</strong> 
            <span id="det-food"></span>
          </p>
          
          <img
            id="det-image"
            src=""
            alt="Animal"
            width="300" 
            class="details-image"
          />
      
          <p class="description"><strong>Description:</strong> 
            <span id="det-description"></span>
          </p>
          <button id="back-button" class="btn-back" style="padding: 10px 20px; cursor: pointer;">
            Back
          </button>         
    </main>

    <%- include('../partials/footer') %>
    <script>
      const animalData = <%- (typeof animalList !== 'undefined') ? JSON.stringify(animalList) : '[]' %>;
    </script>

    </script><script src="/js/script.js"></script>
  </body>
</html>
