<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <!-- hero -->
    <%- include('../partials/hero') %>

    <main class="main">
      <%- include('../partials/sidebar') %>
      <% if (!selectedAnimal) { %>
        <div class="home-intro-container">
          <div class="home-text">
        <h1>Where Asian wildlife meets culture and tradition</h1>
        <p><%= welcomeMessage %></p>
        </div>
        <div class="home-image">
                <img src="/images/home-intro.jpeg" alt="Zoo Interaction">
        </div>
      
      </div>
      <% } %> 


      <% if (selectedAnimal) { %>
      <div class="animal-details-card">
          <h1><%= selectedAnimal.name %></h1>
          <p><strong>Type:</strong> <%= selectedAnimal.type %></p>
          <p><strong>Size:</strong> <%= selectedAnimal.size %></p>
          <p><strong>Weight:</strong> <%= selectedAnimal.weight %></p>
          <p><strong>Food:</strong> <%= selectedAnimal.food %></p>
          
          <img
            src="/images/<%= selectedAnimal.image %>"
            alt="<%= selectedAnimal.name %>"
            width="300" 
            class="details-image"
          />
      
          <p class="description"><strong>Description:</strong> <%= selectedAnimal.description %></p>
          <a href="/<%=headTitle.toLowerCase().replace(/ /g, "-") %>">Back</a>
          </div>-

      <% } %>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
